.game-bg
  background-image: url('../assets/homebg3.jpg')
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  align-items: center
  padding: 30vh
  .container
    .map
    .adv-init
      .adv-init p
        font-size: 1em
        color: white
        background: red