.game-bg
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 15vh
  .container
    margin: 2%
    .map
      padding: 1%

      .logoutBtn
        margin-left: 50%

      .chatbox
        background: black
        color: white

        h1
          color: white
          font-size: 1.6em

      .mapCanvas
        width: 100%

    .adv-init

      .adv-init p
        font-size: 1rem
        color: white
        background: red